{% extends 'base.html' %}

{% block content %}
<li><a href="{% url 'home' %}">Home</a></li>
{% if user.is_authenticated %}
    <li><a href="{% url 'account_list' %}">Accounts</a></li>
    <li><a href="{% url 'create_receipt' %}"> Create Receipt</a></li>
    <li><a href="{% url 'create_account' %}"> Create Account</a></li>
    {% else %}
    <li><a href="{% url 'signup' %}">Sign up</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
{% endif %}
  <main>
      <div>
        <h1>Create Category</h1>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button>Create</button>
        </form>
      </div>
    </main>
{% endblock content %}
