{% extends 'base.html' %}

{% block content %}
<li><a href="{% url 'home' %}">Home</a></li>
{% if user.is_authenticated %}
    <li><a href="{% url 'account_list' %}">Accounts</a></li>
    <li><a href="{% url 'create_receipt' %}"> Create Receipt</a></li>
    <li><a href="{% url 'create_account' %}"> Create Account</a></li>
    <li><a href="{% url 'create_category' %}"> Create Category</a></li>
    {% else %}
    <li><a href="{% url 'signup' %}">Sign up</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
{% endif %}
    <main>
        <h1>Categories</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.receipts.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
{% endblock content %}
