{% extends 'base.html' %}

{% block content %}
<li><a href="{% url 'home' %}">Home</a></li>
{% if user.is_authenticated %}
<li><a href="{% url 'category_list' %}">Categories</a></li>
    <li><a href="{% url 'create_receipt' %}"> Create Receipt</a></li>
    <li><a href="{% url 'create_account' %}"> Create Account</a></li>
    <li><a href="{% url 'create_category' %}"> Create Category</a></li>
    {% else %}
    <li><a href="{% url 'signup' %}">Sign up</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
{% endif %}
    <main>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.name }}</td>
                        <td>{{ account.number }}</td>
                        <td>{{ account.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
